.fp-section.fp-table, .fp-slide.fp-table {
    width: 100vw;
}

.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 100;
    top: 45%;
    cursor: pointer;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.4);
}
.fp-controlArrow.fp-prev {
    left: 5px;
    padding-right: 15px;
}
.fp-controlArrow.fp-next {
    right: 5px;
    padding-left: 15px;
}
