<section>
  <h1></h1>
  <nav class="audio-nav">
    <a href="#">Recorded and Mixed</a>
    <a href="#">Mixed Only</a>
    <a href="#">w/ Me</a>
    <a href="#">All Me</a>
  </nav>

  <article class="audio-group">
    <div class="song">
      <!-- embed soundcloud song -->
    </div>
  </article>

  <article class="audio-group">
    <div class="song">
      <!-- embed soundcloud song -->
    </div>
  </article>

  <article class="audio-group">
    <div class="song">
      <!-- embed soundcloud song -->
    </div>
  </article>

  <article class="audio-group">
    <div class="song">
      <!-- embed soundcloud song -->
    </div>
  </article>
</section>
